@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../font/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Cirrus";
  font-display: swap;
  src: url("../font/CirrusCumulus.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  margin: 10px 0 0 0;
}

/* ---- grille ---- */

nav {
  position: fixed;
  top: 10px;
  width: 15%;
  padding: 30px;
  margin-top: 0;
  z-index: 100;
}

.grid {
  border-top: 8px solid grey;
  background: white;
  width: 80%;
  /*    padding:20px;*/
  margin-left: 18%;
  margin-top: 20px;
}

/* ---- button-group ---- */

.about {
  overflow: auto;
  font-size: 40px;
  font-family: "Cirrus", serif;
}

/* description*/

h1,
h2 {
  font-family: "Cirrus", serif;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  color: grey;
}

h1 {
  display: inline;
  color: grey;
}

h1 a {
  color: grey;
}

h1 a:visited {
  color: grey;
}

h1 a:hover {
  color: grey;
}

h1 a:focus {
  color: grey;
}

h2 {
  margin: 10px 0 0 0;
  color: grey;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: grey;
}

ul {
  margin-left: -30px;
  margin-top: 55px;
}

ul li {
  cursor: pointer;
  font-family: "Cirrus";
  color: grey;
  background: white;
  font-size: 50px;
  border: 2px solid grey;
  display: inline;
  line-height: 100px;
  margin-right: 20px;
  padding: 0.1em 0.5em 0 0.5em;
  line-height: 1.5em;
  transition: all 0.2s ease-in;
  /*background: #ffe99d;*/
}

ul li:hover {
  border-radius: 15px;
}

ul li a {
  text-decoration: none;
  color: grey;
}

p {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 0.7em;
  line-height: 1.3em;
  color: grey;
}

/*footer*/

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
  line-height: 1.3em;
  text-align: left;
  position: fixed;
  bottom: 30px;
  padding: 0px;
  color: grey;
}

footer a {
  text-decoration: none;
  color: grey;
}
