@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../font/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Cirrus";
  font-display: swap;
  src: url("../font/CirrusCumulus.woff") format("woff");
}

* {
  box-sizing: border-box;
}


nav {
  width: 30%;
  height: 100vh;
  border-right: 1px solid rgba(0,0,0,0.8);
}