@font-face {
  font-family: "Compagnon Bold";
  font-display: swap;
  src: url("../font/Compagnon-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lucette Italic";
  font-display: swap;
  src: url("../font/Lucette-Regularitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Compagnon Light";
  font-display: swap;
  src: url("../font/Compagnon-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Compagnon Medium";
  font-display: swap;
  src: url("../font/Compagnon-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Lucette Regular";
  font-display: swap;
  src: url("../font/Lucette-Regular.woff2") format("woff2");
}

/*!-------- GLOBAL --------!*/

body {
  background-color: white;
  font-family: "Lucette Regular";
  overflow: hidden;
}

.container-global {
  display: flex;
}

em {
  font-style: normal;
  text-transform: uppercase;
}

em a {
  text-decoration: none;
}

i,
em a:hover {
  font-family: "Lucette Italic";
}

strong,
a {
  font-weight: normal;
  cursor: crosshair;
  text-decoration: underline;
}

h1,
h3,
p {
  font-size: 1rem;
}

h3 {
  margin-left: 2rem;
}

img {
  width: 400px;
}

/*!-------- SIMPLE BAR --------!*/

nav .simplebar-track {
  display: none;
}

.simplebar-track.simplebar-vertical {
  width: 10px;
  left: 0px;
  border-right: 1px solid black;
  background-color: white;
}

.simplebar-track.simplebar-horizontal {
  width: 94%;
  height: 10px;
  bottom: 0px;
  left: 3%;
}

.simplebar-scrollbar::before,
.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
  border-radius: 1rem;
}

.category::after {
  position: relative;
  content: "";
  display: block;
  height: 1px;
  border-top: 1px solid black;
  width: 96%;
  bottom: 4.5px;
  left: 2%;
}

.simplebar-content {
  padding: 0 !important;
}

/**-------- PAGE INDEX --------**/

header {
  position: relative;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid black;
  background-color: white;
}

#index-images {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -2;
  width: 100%;
  height: calc(100vh - 2rem);
  overflow: hidden;
  background-image: url("../import/homepage_images/1.jpg");
  background-size: cover;
  background-color: black;
}

.menu-index div {
  width: 28vw;
  height: 2rem;
  display: flex;
  align-items: center;
}

.encyclopedia {
  justify-content: center;
}

.pdf {
  justify-content: flex-end;
}

#menu-contrib {
  width: calc(300px + 15vw);
  position: relative;
  left: calc(-310px - 15vw);
  bottom: 0;
  background-color: white;
  transition: all 0.25s ease-in-out;
}

/**-------- PAGE ENCYCLOPEDIA + PDF --------**/

nav {
  width: calc(200px + 10vw);
  font-size: 0.9rem;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.liste {
  height: calc(100vh - 1px - 3rem);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-contrib,
ul {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

.text-contrib {
  line-height: 1.3rem;
}

li a {
  text-decoration: none;
}

li a:hover,
li a:active {
  font-family: "Lucette Italic";
}

li p {
  line-height: 0.5rem;
}

footer p {
  line-height: 0;
}

footer {
  padding: 1rem;
}

.container-pdf,
.container-galleries {
  width: calc(100vw - (200px + 10vw));
}

.container-galleries {
  padding: 1rem 0;
  height: calc(100vh - 2rem);
}

.container-intro-encyclo {
  width: 100%;
}

.intro-encyclo {
  margin: 1rem;
  line-height: 1.3rem;
}

.container-scroll-x {
  width: 100%;
  overflow-y: hidden;
}

.container-images {
  width: fit-content;
  height: 50vh;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.images {
  width: 20vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.images img {
  width: 15vw;
}

.container-pdf {
  height: 100vh;
}

iframe {
  border: 0;
  width: 100%;
  height: calc(100% - 0.4rem);
  margin-top: 0.4rem;
}
