@font-face {
  font-family: "Compagnon Bold";
  font-display: swap;
  src: url("../font/Compagnon-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Compagnon Italic";
  font-display: swap;
  src: url("../font/Compagnon-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Compagnon Light";
  font-display: swap;
  src: url("../font/Compagnon-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Compagnon Medium";
  font-display: swap;
  src: url("../font/Compagnon-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Compagnon Roman";
  font-display: swap;
  src: url("../font/Compagnon-Roman.woff2") format("woff2");
}

*,
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Compagnon Light";
}

em {
  font-style: normal;
  font-family: "Compagnon Roman";
}

i {
  font-family: "Compagnon Italic";
}

/* a {
  text-decoration: none;
  border-bottom: 1.5px dotted black;
  padding: 0 2px 0 2px;
} */

h1,
p {
  font-size: 1rem;
}

header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

header h1,
header p {
  height: min-content;
}

.container-index {
  width: 100%;
  height: calc(100vh - 3rem);
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.container-pdf {
  width: 90vw;
  height: 90vh;
  display: flex;
  padding: 3vh;
}

iframe {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
