@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../../../font/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Cirrus";
  font-display: swap;
  src: url("../../../font/CirrusCumulus.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  margin: 10px 0 0 0;
}

section.item {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  width: 25%;
  margin: 0px 20px 40px 20px;
  background: white;
  border-top: 8px solid grey;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

section.item img,
section.item video {
  max-width: 100%;
  height: auto;
  width: auto;
}

/* ---- grille ---- */

nav {
  position: fixed;
  float: left;
  width: 15%;
  padding: 30px;
  margin-top: 0;
  z-index: 100;
}

.grid {
  background: white;
  width: 85%;
  padding: 20px;
  margin-left: 15%;
}

/* clear fix */

.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- KEYWORDS ---- */

.ui-group {
  display: flex;
}

button {
  text-decoration: none;
  outline: none;
  border: none;
}

.button {
  cursor: pointer;
  font-family: "Cirrus";
  color: grey;
  background: white;
  font-size: 50px;
  border: 2px solid grey;
  display: inline;
  line-height: 100px;
  padding: 0.1em 0.5em 0 0.5em;
  margin: 10px;
  line-height: 1.5em;
  transition: all 0.2s ease-in;
}

.button:hover {
  border-radius: 15px;
}

.button:active {
  background-color: grey;
  color: white;
  border-radius: 15px;
}

.button:active .button-group {
  display: none;
}

.button-group {
  display: none;
  position: fixed;
  top: 20px;
  left: 15%;
  padding-top: 40px;
  font-size: 2.2em;
  font-family: "Cirrus", serif;
  color: grey;
  background-color: white;
  margin: 0 0 0 40px;
  width: 80%;
  height: 100vh;
  z-index: 110;
  border-top: 8px solid grey;
}
.button-group.visible {
  display: block;
}

/* ---- button-group ---- */

.button-group:after {
  content: "";
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
}

.about {
  height: 90vh;
  overflow: auto;
  font-size: 40px;
  font-family: "Cirrus", serif;
  margin-top: -8px;
}

/* description*/

h1,
h2 {
  font-family: "Cirrus", serif;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  color: grey;
}

h1 {
  display: inline;
  color: grey;
}
h2 {
  margin: 10px 0 0 0;
  color: grey;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: grey;
}
.trier {
  cursor: pointer;
  transition: all 0.2s ease-in;
  margin-top: 2px;
  margin-bottom: 2px;
}
.trier:hover {
  padding-left: 5px;
}
.filters {
  margin-top: 40px;
}
section ul li {
  list-style-type: none;
  margin: 2px 2px;
  /*background: #ffe99d;*/
}

.meta {
  font-family: monospace;
  padding: 3px;
  border: 1px solid grey;
  color: grey;
}
a {
  color: grey;
}
p {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 0.7em;
  line-height: 1.3em;
  color: grey;
}

p.unwrap /* bouton version anglaise */ {
  background: none;
  cursor: pointer;
  font-size: 12px;
  width: 90px;
  border-bottom: 2px solid grey;
}

.chapo {
  font-weight: 900;
  font-size: 1em;
  display: block;
  margin-bottom: 1em;
}
.italic {
  font-style: italic;
}

.short-description {
  font-size: 0.9em;
  line-height: 1.4em;

  /*-webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;*/
}

.description {
  display: none;
}

.description.opened {
  display: block;
  color: grey;
  font-size: 0.9em;
  line-height: 1.4em;
  margin-bottom: 10px;
}

/*footer*/

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 20px;
}

footer {
  line-height: 1.3em;
  text-align: left;
  position: fixed;
  bottom: 30px;
  padding: 0px;
  color: grey;
}

footer a {
  text-decoration: none;
  color: grey;
}
